{% extends "website/base_sidebar.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}{{ page_title }} {{ block.super }}{% endblock %}

{% block sidebar %}

<div class="btn-group btn-group-xs btn-group-layers" data-toggle="buttons">
  <label class="btn btn-info">
    <input name="layers" type="radio" value="high">High
  </label>
  <label class="btn btn-info">
    <input name="layers" type="radio" value="low"> Low
  </label>
  <label class="btn btn-info active">
    <input name="layers" type="radio" value="auto" checked> Auto
  </label>
</div>

<div class="sidebar-large">

  <button class="sidebar-toggle btn btn-primary">
    <span class="fa fa-lg fa-chevron-left"></span>
    <span class="hidden-lg hidden-xl">&ensp;&ensp;TOON KAART</span>
  </button>

  <div class="hidden-xs">
    <ul class="breadcrumb bioclass-breadcrumb">
      {% if group %}
      <li><a href="{{ group.map_url }}">{{ group }}</a></li>
      {% endif %}
      {% if family %}
      <li><a href="{{ family.map_url }}">{{ family }}</a></li>
      {% endif %}
      {% if species %}
      <li class="active">{{ species }}</li>
      {% endif %}
    </ul>
  </div>

  <div class="container-fluid">

    <div class="row">
      <form id="map-form" method="get">

        <div class="col-sm-12 hidden">
          <h5 class="text-info">Groep</h5>
          {% bootstrap_field filter.form.group bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-12">
          <h5 class="text-info">Familie (optioneel)</h5>
          {% bootstrap_field filter.form.family bound_css_class='' show_label=False show_help=False %}

          <h5 class="text-info">Soort</h5>
          {% bootstrap_field filter.form.species bound_css_class='' show_label=False show_help=False %}
        </div>

        <div class="col-sm-12">
          <button class="btn btn-info btn-block" type="submit">Update</button>
        </div>

      </form>

      <!--<script>-->
      <!--$(".form-control").change(function() {-->
          <!--$(this).closest('form').submit();-->
      <!--});-->
      <!--</script>-->

      <script>
      $(document).ready(function() {
        // Bind on continent field change
        $(':input[name$=family]').on('change', function() {
          // Get the field prefix, ie. if this comes from a formset form
          var prefix = $(this).getFormPrefix();

          // Clear the autocomplete with the same prefix
          $(':input[name=' + prefix + 'species]').val(null).trigger('change');
        });
      });

      // reset form
      $(".reset-form-button").click(function() {
          $(".form-control#id_family").val(null).trigger('change');
          $(".form-control#id_species").val(null).trigger('change');
      });
      </script>

    </div>

    {% if species %}
    <hr class="hr-small visible-xs"/>
    <hr class="hidden-xs"/>
      {% include "observation/items/species_panel.html" %}
    {% endif %}

    <hr class="hr-small"/>

    <div class="row">
      <div class="col-sm-12">

        {% if group and not family %}
        <div class="panel panel-default panel-sidebar">

          <div class="panel-heading panel-heading-sidebar" align="center">
            <h5>Families</h5>
          </div>

          <div class="panel-body panel-body-sidebar">
            <div class="row">
            {% for family in families %}
              <div class="col-xs-6">
                <small>
                  <a href="{{ family.map_url }}">{{ family.name_nl }}</a> ({{ family.n_observations }})
                </small>
              </div>
            {% endfor %}
            </div>
          </div>

        </div>
        {% endif %}

        {% if family %}
        <div class="panel panel-default panel-sidebar">

          <div class="panel-heading panel-heading-sidebar" align="center">
            <h5>Soorten <a href="{{ family.map_url }}">{{ family }}</a></h5>
          </div>

          <div class="panel-body panel-body-sidebar">
            <div class="row">
            {% for item in speciess %}
              <div class="col-xs-6">
                <small>
                  <a href="{{ item.map_url }}">{{ item.name_nl }}</a> ({{ item.n_observations }})
                </small>
              </div>
            {% endfor %}
            </div>
          </div>

        </div>
        {% endif %}

      </div>
    </div>

    <hr class="hidden"/>

    <div class="row hidden">
      <div class="col-sm-12" align="center">
        <a id="export-png" class="btn btn-primary btn-sm">Download Map</a>
      </div>
    </div>

  </div>

</div>

<div class="sidebar-small" style="display: none;">
  <a class="sidebar-toggle btn btn-primary"><span class="fa fa-lg fa-chevron-right"></span></a>
</div>

{% endblock %}


{% block main-content %}

<div id="map" class="map">
  <div id="info"></div>
</div>


<script src="{% static 'dist/main.js' %}"></script>
{{ filter.form.media }}

{% endblock %}
