{% extends "website/base.html" %}

{% block title %}Over deze site {{ block.super }}{% endblock %}

{% block content %}

<div class="container">

  <div class="row" align="center">
    <h3>Over waarnemingkaart.nl</h3>
  </div>

  <div class="row">
    <div class="col-sm-8 - col-sm-offset-2" align="left">
      <p>
        <a href="//waarnemingkaart.nl">waarnemingkaart.nl</a> visualiseert waarnemingen van <a href="//waarneming.nl" target="_blank">waarneming.nl</a> op interactieve kaarten.
      </p>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<h1>Veelgestelde vragen</h1>
		<div class="accordion">
          <h3>Wat betekenen de contouren?</h3>
          <div>
            <p>
              De contouren zijn een indicatie van de dichtheid van waarnemingen van een bepaalde groep, familie of soort. Het aantal waargenomen individuen per waarneming is hierin niet meegenomen. Als je inzoomt op de kaart zie je de losse waarnemingen terug. Wanneer je hierop klikt wordt je doorgestuurd naar de bron van de waarneming op <a href="//waarneming.nl" target="_blank">waarneming.nl</a>.
            </p>
          </div>
          <h3>Wat zegt dit over de verspreiding van soorten in Nederland?</h3>
          <div>
            <p>
              Wetenschappelijk gezien niet zo veel. Als een soort ergens veel wordt waargenomen kan dit ook komen doordat er hier veel waarnemers zijn, of doordat waarnemers gemotiveerd zijn een waarneming van deze soort door te geven.
            </p>
          </div>
          <h3>Wat kan ik hier mee?</h3>
          <div>
            <p>
              De kaart geeft een idee waar je een bepaalde soort zou kunnen aantreffen, en waar waarschijnlijk niet. In de toekomst willen we meer opties toevoegen.
            </p>
          </div>
          <h3>Contact</h3>
          <div>
            <p>
              Vragen, opmerkingen en suggesties zijn altijd welkom. Stuur gerust een email naar {{ contact_email }}
            </p>
          </div>
		</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}