{% extends "website/base.html" %}

{% block content %}

  <div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        {% block sidebar %} {% endblock %}
        <!-- Menu Toggle Script -->
        <script>
        $(".sidebar-toggle").bind("click", function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            $(".sidebar-large").toggle(0, 'swing', function() {
                $(".sidebar-small").toggle();
            });
        });
        </script>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
    {% block main-content %} {% endblock %}
    </div>

  </div>

{% endblock %}