django==2.2.24
django-bootstrap3==12.0.3
django-bootstrap-pagination==1.7.1
django-registration-redux==1.7
django-dual-authentication==1.2.1
django-cron==0.5.1
django-filter==1.0.4
django-autocomplete-light==3.2.1
django-dbbackup==3.2.0
requests==2.22.0
lxml==4.4.2
scipy==1.5.3
numpy==1.19.2
matplotlib==3.3.2
geojson==2.5.0
geojsoncontour==0.1.4
pytz==2019.3
dateparser==0.7.2
djangorestframework==3.9.1
plotly==2.0.14
psycopg2-binary==2.8.4
django-debug-toolbar==1.11
pybind11
